.top2{
  position: relative;
  left: 490px;
  margin-bottom: ;
 
}
.collapse {
    margin-bottom: 0px;
}
.navbar-nav{
    margin-bottom: 60px;
    margin-left: 20px;
}
#h1{
    position: relative;
    left: 20px;
    font: 7em ;
    font-weight: 900;
    font-size: 70px;


   
}
.h2{
    position: relative;
    left: 30px;
    right:10px ;
    color: rgb(237, 7, 7);
    font-size: 50px;

}
.content{
    position: relative;
    top: 100px;
    height: 100%;
}
#p1{
   position: relative;
   left: 20px;
   top: 30px;
   font-weight: 900;
   font-size: 30px;
}
.p3{
    position: relative;
    top: 70px;
    left: 20px;
    font-size: 30px;
    font:bolder;
    font-weight: 900;
}
.p4{
  
    width: 900px;
    position: relative;
    left: 390px;
    top: 5px;
    font-size: 20px;
}

#link{
   
    font-size: large;
    font-size: 20px;
    font:bolder;
    color: rgb(6, 0, 0);
}   

.link1{
    position: relative;
    top: 590px;
    right: 480px;

}
.photo1{
    position: relative;
    top: 400px;
    left: 30px;
  
}
.photo2{
    position: relative;
    top: 400px;
    left: 40px;
}
.content{
    float: left;
    position: relative;
    top: 250px;
    left: 30px;
}
#career{
    margin-left: 60px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 30px;

}
#compe{
    margin-top: 15px;
    font-weight: 700;
    font-size: 30px;
}
.art{
    position:relative;
    top: 150px;
}
.container {
    position: relative;
  }

  footer {
    position: relative;
    top: 500px;
  }
  #h7{
    padding-top: 20px;
    margin-left: 30px;
    color: aliceblue;
    font-size: 50px;
    font-weight: 600;
  }
  .ft1{
    margin-top: 400px;
    background-color: black;
    height: 900px;
  }
  #c4{
    color: aliceblue;
    margin-left: 30px;
    margin-top: 50px;
  }
 .class1{
    margin-top:750px;
    margin-left: 580px;
    position:absolute;
    height: 100px;
    

    
 }
 .apply{
    position: relative;
   left: 530px;
   top: 600px;


 }
 ul{
    position: relative;
    top:30px ;
    left: 30px;
 }
 .aply{
    font-size: 50px;
    font-weight: bolder;
 }
 .div {
 
    left: 400px;
    margin-bottom: 30px;
    
 }
 .form{
    position: relative;
    top: 30px;
    right: 350px;
 }



   
