


.h1{
    color: rgb(233, 242, 240);
    text-align: center;
}
.header{
    position: relative;
    color: rgb(244, 248, 249);
    margin-left: 20pX;
   
}

body{
    background-image: url(/image/Polygon\ Luminary.svg);
}
.trucks{
    margin: 20px;
    border: 10px transparent;
   
   
}
.para{
    width: 400px;

}
#b1{
    background-color: rgb(176, 217, 217);
    border-radius: 1em;
    
}
.sidebard{
   position: fixed;
   left: -2500;
   width: 250px;
   height: 100%;
   background: #042331;
   transition:all .5s ease;


   

}
.sidebard header{
    font-size: 22px;
    color:white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select:none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgb(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}
.ul li:hover a{
padding-left: 50px;
}
.sidebar ul a i{
    margin-right:16px ;
}
#check{
    display: none;
}
label #btn, lable #cancel{
position: absolute;
cursor: pointer;
background: #042331;
border-radius:3px ;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: rgb(253, 251, 251);
    padding: 6px 12px;
}
label #cancel{
  z-index: 1111;  
  left: 195px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~ label #btn{
    left:250px;
    opacity: 0;
    pointer-events: none;
}